@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Serif:opsz,wght@8..144,900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,900&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Roboto Serif", serif;
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: 900; /* Heavy */
  color: #5c9090;
  display: inline-block;
  padding: 0.25em 0 0.25em 0;
}

h2 {
  font-size: 2.25em;
  color: #edcabd;
  letter-spacing: 1px;
  line-height: 1em;
  font-weight: normal;
}

h3 {
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
  color: #333;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #bdcec6;
}

[role=banner] > h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.summary a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #efe9db;
}

body {
  color: #333;
  margin-left: 10px;
  padding: 1em;
}

h1 {
  visibility: hidden;
}

h1:before {
  visibility: visible;
  content: "";
  background-image: url(/images/retro-logo-img.png);
  display: block;
  padding-top: 514px;
  padding-right: 500px;
  width: 500px;
}

.summary {
  color: black;
}
.summary a {
  color: black;
}

/* sidebar styling */
.wrapper {
  position: sticky;
  align-self: start;
  top: 5px;
}

.sidebar {
  display: grid;
  margin: 20px;
  border-radius: 15px;
  height: 100%;
  position: sticky;
  top: 0;
  background: #f7b09c;
  box-shadow: 10px 10px #f59d84;
  width: 100%;
}

.sidebar h3 {
  margin-left: 10px;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.design-selection,
.design-archives,
.zen-resources {
  margin: 20px;
  border-radius: 15px;
  padding: 5px;
  width: 92%;
  position: relative;
  left: -35px;
}

.design-selection {
  background: #e8b665;
  box-shadow: 10px 10px #e5ab4f;
}

.design-archives {
  background: #bdcec6;
  box-shadow: 10px 10px #aec3b9;
}

.zen-resources {
  background: #edcabd;
  box-shadow: 10px 10px #e8baa9;
}

/* background container for content*/
html::after {
  content: "";
  display: block;
  background-color: white;
  transform: rotate(5deg);
  height: 100vh;
  width: 70%;
  position: sticky;
  left: 30px;
  z-index: -1;
  grid-row: 2/3;
}

/* grid layout*/
.page-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 85%;
  color: black;
  background-color: transparent;
  margin: 10px;
  padding: 1em;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  background: white;
  padding: 10px;
  margin: 10px;
}

section#zen-intro {
  grid-column: 1/2;
}

div#zen-supporting {
  grid-column: 1/2;
}

div .preamble h3 {
  grid-area: h3;
}

div .preamble p:nth-of-type(1) {
  grid-area: p1;
}

div .preamble p:nth-of-type(2) {
  grid-area: p2;
}

div .preamble p:nth-of-type(3) {
  grid-area: p3;
}

.preamble {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "p1 h3" "p2 h3" "p3 h3";
}

footer {
  visibility: hidden;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: inline-block;
  position: relative;
}
footer .zen-validate-html,
footer .zen-validate-css,
footer .zen-license,
footer .zen-accessibility,
footer .zen-github {
  transform: rotate(20deg);
}

aside {
  grid-column: 3/span 1;
  grid-row-start: 1;
  margin-top: 30px;
  position: fixed;
  height: 100vh;
}

/* designated footer*/
.requirements p:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background: white;
  padding: 25px;
  width: 100%;
}

.intro h3:before,
.explanation h3::before,
.participation h3::before,
.benefits h3::before,
.requirements h3::before {
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 500px;
  display: block;
}

@media (max-width: 800px) {
  .preamble {
    display: block;
  }
  intro h3:before,
.explanation h3:before,
.participation h3::before,
.benefits h3::before,
.requirements h3::before,
footer:before {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  aside {
    grid-column: 1/2;
    grid-row: 3;
  }
}

/*# sourceMappingURL=style.css.map */
