@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
}
body {
  // font-family: $fonts-body;
  // font-size: 50%;
  color: $text-dark;
  margin-left: 10px;
  padding: 1em;
  
}
//SW -  change title to Retro Garden
h1 {
  visibility: hidden;
    
}
h1:before{
   visibility: visible;
  content: "CSS Retro Garden";
  display: block;
  height: 60px;  
}
.summary{
  color:black;
  a{
    color:black;
  }
}

/* sidebar styling */
.sidebar{
  display:grid;
  grid-auto-flow:row;
  margin:20px;
  border-radius:15px;
  height:100%;
  position:sticky;
  align-self: start;
  top: 0;
  background: #f7b09c;
  box-shadow: 10px 10px darken(#f7b09c,5);
  width:100%;
  float:right;
}
.sidebar h3{
  margin-left:10px;
}
a{
  text-decoration:none;
  list-style: none;
  color:black;
}
.design-selection{
  background: #e8b665;
  margin:20px;
  border-radius:15px;
  padding:5px;
  box-shadow: 10px 10px  darken(#e8b665,5);
  width:92%;
  position:relative;
  left: -35px;
}
.design-archives{
  background:#bdcec6;
  margin:20px;
  border-radius:15px;
  padding:5px;
  box-shadow: 10px 10px darken(#bdcec6,5);
  width:92%;
  position:relative;
  left: -35px;
}
.zen-resources{
  background:#edcabd;
  margin:20px;
  border-radius:15px;
  padding:5px;
  box-shadow: 10px 10px darken(#edcabd,5);
  width:92%;
  position:absolute;
  left: -35px;
}

/* background container for content*/
html::after{
  content:"";
  display:block;
  background-color:white;
  transform:rotate(5deg);
  height:100vh;
  width:70%;
  position:sticky;
  left: 30px;
  z-index:-1;
  grid-row:2/3;
}

/* grid layout*/
.page-wrapper {
  display:grid;
  grid-template-columns: 2fr 2fr 15%;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr auto;
  grid-auto-flow:row;
  grid-gap:20px;
  font-size: 85%;
  color: black;
  background-color: transparent;
  margin: 10px;
  padding: 1em;
}
header{
  grid-column:1/4;
  grid-row:1/span1;
  width:100%;
  background:white;
  padding:10px;
  margin:10px;
  &::after{
    footer{
      visibility: visible;
    }
  }
}
.preamble{
  grid-column: 1/2;
  grid-row:2/3;
}
.explanation,
.participation,
.benefits,
.requirements{
  grid-column:1/3;
  grid-row:2/3;
}
footer{
  visibility: hidden;
  grid-column:1/-1;
  grid-row:1/2;
  display:inline-block;
  position:relative;
  .zen-validate-html,
  .zen-validate-css,
  .zen-license,
  .zen-accessibility,
  .zen-github{
    transform:rotate(20deg);
  }
}

aside{
  grid-column:3/span 1;
  grid-row-start:1;
  margin-top:30px;
  position:fixed;
  height:100vh;
}

/* designated footer*/
.requirements p:last-child{
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:3;
  grid-row-end:4;
  background:white;
  padding:25px;
  width:100%;
}



//SW - add dummy images
.preamble p:last-child::after{
  content: "";
  background: url(/images/rsz_pexels-mark-elliott-995487.jpg) no-repeat center;
  padding-top: 500px;
  display: block;
}

.explanation h3::before{
  content: "";
  background:white;
    background: url(/images/rsz_pexels-mark-elliott-995487.jpg) no-repeat center;
  padding-top: 500px;
  object-fit:fill;
  display: block;
  grid-column:3/4;
  max-width: 500px;
  max-height: 500px;
  grid-column:2/3;
}

.participation h3::before{
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 500px;
  display: block;
}

.benefits h3::before{
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 500px;
  display: block;
}

.requirements h3::before{
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 500px;
  display: block;

}



@media (max-width: 800px) {

 
 //SW - style paralax
  .explanation h3::before{
//  Create the parallax scrolling effect 
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.participation h3::before{
 //  Create the parallax scrolling effect 
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.benefits h3::before{
 //  Create the parallax scrolling effect 
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.requirements h3::before{
 //  Create the parallax scrolling effect 
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  
}footer:before{
  content: "";
  //  Create the parallax scrolling effect 
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
  
}

//

// body{
//   background:white;
// }
// header{
//   grid-area: header;
// }
// footer{
//   grid-area: footer;
// }
// .sidebar{
//   grid-area: sidebar;
// }


// .page-wrapper {
//   display:grid;
//   grid-template-columns: 4fr 1fr;
//   grid-template-rows: auto;
//   grid-template-areas: 
//   "header header footer"
//   ".. sidebar";
//   height: 100vh;
//   font-family: $fonts-body;
//   font-size: 85%;
//   color: $text-dark;
//   background-color: $primary;
//   margin: 0;
//   padding: 1em;
// }

// SW - Media query for mobile design
