@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  padding: 5%;
}
body{
  background:white;
}
header{
  grid-area: header;
}
footer{
  grid-area: footer;
}
.sidebar{
  grid-area: sidebar;
}


.page-wrapper {
  display:grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header footer"
  ".. sidebar";
  height: 100vh;
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}
