@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Serif:opsz,wght@8..144,900&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,900&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Roboto Serif", serif;
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: 900; /* Heavy */
  color: #5c9090;
  display: inline-block;
  padding: 0.25em 0 0.25em 0;
}

h2 {
  font-size: 2.25em;
  color: #edcabd;
  letter-spacing: 1px;
  line-height: 1em;
  font-weight: normal;
}

h3 {
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
  color: #333;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #bdcec6;
}

[role=banner] > h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.summary a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #efe9db;
  padding: 5%;
}

body {
  color: #333;
  background-color: #5c9090;
  margin: 0;
  padding: 1em;
}

h1 {
  visibility: hidden;
}

h1:before {
  visibility: visible;
  content: "CSS Retro Garden";
  display: block;
  height: 60px;
}

.explanation h3::before {
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 800px;
  display: block;
}

.participation h3::before {
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 800px;
  display: block;
}

.benefits h3::before {
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 800px;
  display: block;
}

.requirements h3::before {
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 800px;
  display: block;
}

footer:before {
  content: "";
  background: url(/images/dummy-img.jpg&text=cool+retro+photo) no-repeat center;
  padding-top: 800px;
  display: block;
}

@media (max-width: 800px) {
  .explanation h3::before {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .participation h3::before {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .benefits h3::before {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .requirements h3::before {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  footer:before {
    content: "";
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*# sourceMappingURL=style.css.map */
